@use 'src/styles/vars';

.list {
  text-decoration: none;

  &__item {
    font-weight: 500;
    font-size: vars.$gutter * 1.8;
    border-bottom: 0.1px solid vars.$color-alt;
    padding: 0.4em 1.1em;
    transition: background-color vars.$transition-slow;

    &:hover {
      background-color: vars.$color-alt;
      cursor: pointer;
      transition-duration: vars.$transition-fast;
    }
  }
}
