@use 'src/styles/vars';

.app {
  background-color: vars.$color-alt;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 400px;
  margin: auto;
  margin-top: 20vh;
  padding: vars.$gutter * 1.5;
}
