.app {
  background-color: #f1c5b6;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 400px;
  margin: auto;
  margin-top: 20vh;
  font-family: 'League Spartan', sans-serif;
  padding: 1em;
}
