@use 'src/styles/vars';

.main {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: vars.$color;
  background-color: vars.$color-light;
  overflow: auto;

  &__title {
    font-weight: 700;
    font-size: vars.$gutter * 2;
    border-bottom: 0.1px solid vars.$color-alt;
    padding: vars.$gutter * 1.2 vars.$gutter * 1.5;
  }

  &__currency {
    font-weight: 500;
    font-size: vars.$gutter * 1.8;
    border-bottom: 0.1px solid vars.$color-alt;
    padding: 0.4em 1.1em;
    transition: background-color vars.$transition-slow;

    &:hover {
      background-color: vars.$color-alt;
      cursor: pointer;
      transition-duration: vars.$transition-fast;
    }
  }

  &__search {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    width: 100%;
    border: none;
    color: vars.$color;
    font: inherit;
    &::placeholder {
      color: vars.$color-alt;
    }
  }
}
