.header {
  background-color: #bb5432;
  color: white;
  padding: 1em;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.header_text {
  font-size: 1.5em;
  font-weight: 300;
}
