@use 'src/styles/vars';

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: vars.$gutter * 1.2;
  color: vars.$color;
  background-color: vars.$color-light;

  &__result {
    font-weight: 700;
    font-size: vars.$gutter * 3;
  }

  &__text {
    font-size: vars.$gutter * 2;
  }
}
