.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: #bb5432;
  background-color: #fff;
}

.footer__result {
  font-weight: 700;
  font-size: 2.5em;
}

.footer__text {
  font-weight: 300;
  font-size: 1.8em;
}
